body {
    font-family: sans-serif;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(250, 2, 2) ;
}

header img {
    height: 84px;
    width: 84px;
    padding-right: 120px;
}

header h1 {
    text-align: left;
    margin: 0px;
}

main h1 {
    text-align: center;
}

nav {
    margin: 40px;
    text-align: center;
    font-size: 24px;
}

nav a {
    border: 3px solid rgb(250, 2, 2) ;
    border-radius:20px ;
    text-decoration:none ;
    color: black;
    margin: 15px;
    padding: 4px;
    background-color: rgb(250, 2, 2) ;
}

h2 img {
    width: 730px;
    height: 400px;
    margin-left: 10px;
}

p img {
    width: 700px;
    height: 400px;
    margin-left: 10px;
}

.img {
    width: 700px;
    height: 600px;
    margin-left: 10px;
}

footer h2 {
    text-align: center;
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
}

.weapons {
    width: 300px;
    height: 400px;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}
